include README.md
include LICENSE
include CHANGELOG.md
include setup.py
include pyproject.toml
include requirements.txt

recursive-include all_predict *.py
recursive-include examples *.py
recursive-include examples *.ipynb
recursive-include examples *.csv
recursive-include docs *.md
prune __pycache__
prune .git
prune build
prune dist
prune *.egg-info
